<div>

  <nav style="text-align: center;">
    <button type="button" routerLink="/withdraw">Withdraw Amount</button>
    <button type="button" routerLink="/deposit">Deposit Amount</button>
    <router-outlet></router-outlet>
  </nav>


  <!-- <div>
    <h2>Fruits</h2>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Color</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fruit of fruits">
          <td>{{ fruit.name }}</td>
          <td>{{ fruit.color | uppercase }}</td>
          <td>{{ fruit.price | number: '2.2-2' | currency: 'INR'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    Today: {{today | date: 'shortDate'}} <br />
    Today Too: {{today | date: 'dd-MM-yyyy'}} <br />
    Time: {{today | date: 'hh:mm:ss'}}
  </div> -->
</div>
